numpy
pandas

langchain
langchain-community
langchain-huggingface
langchain-core
sentence-transformers
transformers
faiss-cpu
accelerate
scikit-learn
tiktoken
bitsandbytes>0.37.0

nltk

pymupdf4llm
pycryptodome

loguru
black[jupyter]
isort
ipython
ipykernel
python-dotenv
